  /* 全てのHTML要素にパディングとマージンをゼロに設定。
        「*」はワイルドカードのセレクタ。 */
  * {
      padding: 0, margin:0;
  }

  body {
      text-align: center;
  }

  canvas {
      /* background: #ffd000; */
      background-image: url("../img/living_nml_realsize.jpg");
      display: block;
      margin: 0 auto;
  }